@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

html,
body,
#root {
    height: 100%;
    scrollbar-width: none;
    -ms-overflow-style: none;
    overflow-x: hidden;
}

::-webkit-scrollbar {
    display: none;
}
